{{- /* Convert environment variables to YAML */ -}}
{{- $config := dict -}}
{{- range $key, $value := .Env -}}
  {{- if contains "__" $key -}}
    {{- $parts := split $key "__" -}}
    {{- $prefix := lower (index $parts 0) -}}
    {{- $rest := slice $parts 1 -}}
    {{- $yamlKey := printf "%s:%s" $prefix (join $rest ":") -}}
    {{- $_ := set $config $yamlKey $value -}}
  {{- end -}}
{{- end -}}

{{- /* Output the YAML */ -}}
{{- toYAML $config -}} 