{{- $env := dict -}}
{{- range $key, $value := .Env }}
  {{- $keyParts := strings.Split $key "__" }}
  {{- if gt (len $keyParts) 1 }}
    {{- $section := index $keyParts 0 }}
    {{- $subkey := (strings.ToLower (index $keyParts 1)) }}
    {{- if not (index $env $section) }}
      {{- $env = set $env $section (dict) }}
    {{- end }}
    {{- $env = set $env $section (set (index $env $section) $subkey $value) }}
  {{- end }}
{{- end }}

{{- range $section, $subkeys := $env }}
{{ $section }}:
  {{- range $subkey, $subval := $subkeys }}
    {{ $subkey }}: "{{ $subval }}"
  {{- end }}
{{- end }}
